@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
        * {
            font-family: "Pretendard",serif;
        }
        body {
            background-color:#eceef7;
        }
        .pro {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 15px;
        }
        .profile {
            width: 58px;
            height: 58px;
            border-radius: 100%;
            border: 1px solid black;
            background-position: center;
            background-size: cover;
        }
        .headcopy1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 260px;
            margin-top: 10px;
        }
        .headcopy2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 260px;
            margin-top: 30px;
        }
        .main1 {
            color : #363636;
            font-size: 27px;
            size : 20px;
            font-weight: 800;
            margin: 0%;
            text-align: center;
        }
        .main2 {
            color : #363636;
            font-size: 27px;
            size : 20px;
            font-weight: 800;
            margin: 0%;
            text-align: center;
        }
        .sub1 {
            color : #474747;
            font-size: 16px;
            font-weight: 400;
            size : 14px;
            margin-top: 10px;
            text-align: center;
        }
        .sub2 {
            color : #474747;
            font-size: 16px;
            font-weight: 400;
            size : 14px;
            margin-top: 10px;
            text-align: center;
        }
        .minis1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 7px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .minis1 > a {
            width: 102px;
            height: 48px;
            border-radius: 32px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            white-space:pre-wrap;
            box-shadow: 3px 3px 5px 0px black;
        }
        .minis1 > a:hover {
                    background-color: #8b79ad;
                    font-size: 12.5px;
                }
        .minis2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 7px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .minis2 > a {
            width: 102px;
            height: 48px;
            border-radius: 32px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 12px;
            white-space:pre-wrap;
            box-shadow: 3px 3px 5px 0px black;
        }
        .minis2 > a:hover {
                    background-color: #33b966;
                    font-size: 12.5px;
                }
        .dawnliken {
            background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #3c344b;
            color:#FFFFFF;
        }
        .instagram1 {
            background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #3c344b;
            color:#FFFFFF;
        }
        .stockbgm {
            background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #27914f;
            color:#FFFFFF;
        }
        .instagram2 {
            background: linear-gradient(287.96deg, rgba(0, 0, 0, 0.16) 15.1%, rgba(0, 0, 0, 0) 83.32%), #27914f;
            color:#FFFFFF;
        }
        .login-btn {
            color:#FFFFFF;
        }
        .wrap {
            width: 320px;
            margin: 30px auto 0px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .bigs1 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 10px;
        }
        .bigs1 > a {
            width: 123px;
            background-color: white;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-decoration: none;
            padding: 20px 16px 16px 16px;
            border-radius: 8px;
            box-shadow: 3px 3px 5px 0px black;
        }
        .bigs1 > a:hover {
                    background-color: #dfdfdf;
                }
        .bigs2 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 10px;
        }
        .bigs2 > a {
            width: 123px;
            background-color: white;
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-decoration: none;
            padding: 20px 16px 16px 16px;
            border-radius: 8px;
            box-shadow: 3px 3px 5px 0px black;
        }
        .bigs2 > a:hover {
                    background-color: #dfdfdf;
                }
        .name {
            font-size: 16px;
            font-weight: 700;
            color: #222222;
            margin-bottom: 45px;
        }
        .desc {
            font-size: 12px;
            font-weight: 500;
            color: #555555;
            margin-bottom: 24px;
        }
        .btn1 {
            font-size: 12px;
            font-weight: 700;
            color: #ffffff;
            background-color: #3c344b;
            border-radius: 4px;
            padding: 5px 4px 5px 4px;
        }
        .btn2 {
            font-size: 12px;
            font-weight: 700;
            color: #ffffff;
            background-color: #27914f;
            border-radius: 4px;
            padding: 5px 4px 5px 4px;
        }
        .top-btn {
            display: flex;
            font-size: 12px;
            border-radius: 80px;
            background-color: #f5f5f5;
            box-shadow: 3px 3px 5px 0px black;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .top-btn > a {
            width: 102px;
            height: 48px;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .top-btn > a:hover {
            background-color: #dfdfdf;
            font-size: 12.5px;
            border-radius: 80px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 3px 5px 0px black;
        }
        .alarm {
            color : #474747;
            font-size: 16px;
            font-weight: 400;
            size : 14px;
            margin-top: 10px;
            text-align: center;
            width: 290px;
            background-color: rgb(244, 249, 253);
            margin-bottom: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            padding: 20px 16px 16px 16px;
            border-radius: 8px;
            box-shadow: 3px 3px 5px 0px black;
        }
